<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/style.css">
  <title>User</title>
</head>

<body>
  <%- include('blocks/header.ejs'); -%>
  <div class="content">
    <h1>My profile</h1>
    <p>Name - <%= user_name %></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum in vero porro quia ea perferendis distinctio omnis non veniam rem explicabo, itaque nostrum doloribus et quidem saepe voluptatem id tempora.</p>
  </div>
</body>

</html>
